* {
  box-sizing: border-box;
}
#square-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.square {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  border: 1px black solid;
  background-color: transparent;
  text-align: center;
  margin: 1px;
}
.restart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-container {
  display: flex;
  justify-content: center;
  border: 2px solid gray;
  width: 306px;
  margin: 50px auto;
}
.game-result {
  padding: 10px;
}

/* 814 이하 */
@media screen and (max-width: 814px) {
  * {
    /* border: 1px solid red; */
  }
  #square-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 156px;
  }
  .square {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }

  .result-container {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    width: 150px;
    margin: 50px auto;
  }
  .game-result {
    padding: 5px;
  }
}
