* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px pink solid; */
}

.container {
  width: 350px;
  padding: 40px 50px;
  margin: 150px auto 0;
  background-color: white;
  box-shadow: 10px 10px 10px #c1c0b9;
}

.date-todo,
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.todo {
  color: #50e3a4;
  font: italic 700 35px "Roboto Condensed";
  letter-spacing: -0.5px;
}
.date {
  display: flex;
  color: #333;
  font-family: "Bellota";
}

.day {
  margin-right: 5px;
  font-weight: 700;
  font-size: 40px;
}
.month {
  font-family: "Roboto";
  font-size: 14px;
}
.year {
  line-height: 1;
}
